html {
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #17171b;
}

::-webkit-scrollbar-thumb {
    background: #FFDE01;
}
